<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>GTVT</title>
</head>
<style>
    body{
        display: block;
        box-sizing: border-box;
        border: 0;
        margin: 0;
    }
    h1{
        text-align: center;
    }
    img{
        margin: 10px auto;
    }
    .container{
        display: flex;
        gap: 10px;
    }
</style>
<body>
        <h1>Bộ môn Thông Tin - Truyền Thông</h1>
        <h1>Giao Thông Vận Tải</h1>
        <img th:src="@{https://www.utc.edu.vn/assets/utc/images/logo.png}" alt="GTVT">
        <div class="container">
            <span style="font-size: 20px">Mật khẩu của bạn : </span>
            <div th:text="${passwordReset}" style="background: antiquewhite"></div>
        </div>
</body>
</html>